---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v3/NextPublicHolidays/us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 2.0, 3.0
      Last-Modified:
      - Sat, 22 Oct 2022 19:01:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2022-11-11","localName":"Veterans Day","name":"Veterans Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-11-24","localName":"Thanksgiving
        Day","name":"Thanksgiving Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":1863,"types":["Public"]},{"date":"2022-12-26","localName":"Christmas
        Day","name":"Christmas Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2023-01-02","localName":"New
        Year''s Day","name":"New Year''s Day","countryCode":"US","fixed":false,"gl[...]
