<h1>Little Esty Shop</h1>

<%= button_to "Dashboard", admin_index_path, local: true, method: :get %>
<%= button_to "Merchants", admin_merchants_path, local: true, method: :get %>
<%= button_to "Invoices", admin_invoices_path, local: true, method: :get %>
